@import "./navbar.scss";
@import "./product.scss";
@import "./cart.scss";
@import "./home.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.app {
  background-image: linear-gradient(to right, #f0ece2, #dfd3c3, #a8957f);
}
.app__list {
  max-width: 1300px;
  margin: 0 auto;
}
